@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

@layer base {
  body {
    background-color: #fcfbfa; /* Soft off-white */
    color: #1c1917; /* Very deep charcoal/stone */
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1ebd92e;
}

::-webkit-scrollbar-thumb {
  background: #c5a880;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a98d63;
}

/* Custom horizontal scroll container helper */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

